<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.o.jpeg"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="age_desc">
              <div class="age">Age:</div>
              <div class="age_year">24</div>
            </div>

            <div class="contact_desc">
              <div class="residence">Residence:</div>
              <div class="residence_area">BD</div>
            </div>

            <div class="freelance_desc">
              <div class="freelance">Freelance:</div>
              <div class="freelance_info">Available</div>
            </div>

            <div class="address_desc">
              <div class="address_info">Address:</div>
              <div class="address_residence">Dhaka,Bangladesh</div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_3">
            <div class="lang_title">Languages</div>

            <div class="lang_container">
              <div class="lang_txt">Bangla</div>
              <div class="lang_txt">100%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">English</div>
              <div class="lang_txt">80%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_2"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">Spanish</div>
              <div class="lang_txt">50%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_3"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="lang_title">Skills</div>

            <div class="lang_container">
              <div class="lang_txt">HTML</div>
              <div class="lang_txt">90%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_4"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">CSS</div>
              <div class="lang_txt">85%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_5"></div>
            </div>

            <div class="lang_container">
              <div class="lang_txt">JS</div>
              <div class="lang_txt">80</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_6"></div>
            </div>
            <div class="lang_container">
              <div class="lang_txt">PHP</div>
              <div class="lang_txt">75%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_7"></div>
            </div>
            <div class="lang_container">
              <div class="lang_txt">WordPress</div>
              <div class="lang_txt">70%</div>
            </div>
            <div class="percantge_bar_container">
              <div class="percantge_bar_8"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <div class="lang_title">Extra Skills</div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Bootstrap, Materialize</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Stylus,Sass,Less</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">Webpack, Gulp, Grunt</div>
            </div>
            <div class="extra_skill_container">
              <img src="images/Icons.png" alt="" height="15px" width="15px" />
              <div class="skill_txt">GIT Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="about_container">
            <div class="text_container">
              <div class="job_tile">Doctor neurologists in OHSU Hospital</div>
              <div class="job_description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </div>

              <button class="hire_me_btn">HIRE ME →</button>
            </div>
            <img src="images/profile.png" alt="" class="profile" />
          </div>

          <div class="my_service_container">
            <div class="my_service_title">My services</div>
            <div class="my_service_txt">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit. lorem
              ipsum
            </div>
          </div>

          <div class="mid_frame_skill_container">
            <div class="mid_frame_skill_box">
              <img
                src="icon/Icons_coding.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Web Devolopment</div>
              <div class="mid_frame_skill_txt">Blog, E-Commerce</div>
            </div>

            <div class="mid_frame_skill_box">
              <img
                src="icon/Icons_illustration.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">UI/UX design</div>
              <div class="mid_frame_skill_txt">Mobile app, website design</div>
            </div>

            <div class="mid_frame_skill_box">
              <img
                src="icon/Icons_Microphone.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Sound design</div>
              <div class="mid_frame_skill_txt">Voice Over, Beat Making</div>
            </div>
          </div>

          <div class="mid_frame_skill_container">
            <div class="mid_frame_skill_box">
              <img
                src="icon/Icons_game-development.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Game design</div>
              <div class="mid_frame_skill_txt">
                Character Design, Props & Objects
              </div>
            </div>

            <div class="mid_frame_skill_box">
              <img
                src="icon/Icons_Photographer.svg"
                alt=""
                class="mid_frame_skill_icon1"
              />
              <div class="mid_frame_skill_title">Photography</div>
              <div class="mid_frame_skill_txt">
                Portrait, Product Photography
              </div>
            </div>

            <div class="mid_frame_skill_box">
              <div class="mid_frame_skill_txt1">Advertising</div>
              <div class="mid_frame_skill_title1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                nulla diam in ac dictum a urna viverra morbi.
              </div>
              <div class="mid_frame_skill_btn">ORDER NOW</div>
            </div>
          </div>
        </div>

        <div class="right_frame">
          <a class="link_href" href="">
            <div class="icon-4">
              <img src="icon/Contrast.png" class="icon-2" alt="" />
            </div>
          </a>

          <div class="right_frame_btn_container">
            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/Union.svg" alt="" />
              </div>
            </a> 
            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/home.jpeg" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/service.jpeg" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/CV.jpeg" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/Portfolio.jpeg" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/Blog.jpeg" alt="" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon-4">
                <img src="icon/Contact.jpeg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>